<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simpol.polisight.mapper.FavoriteMapper">

    <select id="countByMemberIdxAndPlcyNo" resultType="int">
        SELECT COUNT(*)
        FROM favorite
        WHERE memberIdx = #{memberIdx} AND plcyNo = #{plcyNo}
    </select>

    <insert id="insertFavorite">
        INSERT INTO favorite (memberIdx, plcyNo, createdAt)
        VALUES (#{memberIdx}, #{plcyNo}, NOW())
    </insert>

    <delete id="deleteFavorite">
        DELETE FROM favorite
        WHERE memberIdx = #{memberIdx} AND plcyNo = #{plcyNo}
    </delete>

    <select id="selectPlcyNosByMemberIdx" resultType="string">
        SELECT plcyNo
        FROM favorite
        WHERE memberIdx = #{memberIdx}
    </select>

    <select id="selectFavoritePoliciesDetails" resultType="com.simpol.polisight.dto.PolicyDto">
        SELECT
        p.plcyNo, p.plcyNm, p.plcyExplnCn, p.lclsfNm, f.notify
        FROM policy p
        JOIN favorite f ON p.plcyNo = f.plcyNo
        WHERE f.memberIdx = #{memberIdx}
        ORDER BY f.createdAt DESC
    </select>

    <update id="updateNotify">
        UPDATE favorite
        SET notify = #{notify}
        WHERE memberIdx = #{memberIdx}
        AND plcyNo = #{plcyNo}
    </update>

    <select id="selectUsersForDeadlineNotify" resultType="map">
        SELECT
        m.email, p.plcyNm, p.plcyNo
        FROM favorite f
        JOIN policy p ON f.plcyNo = p.plcyNo
        JOIN member m ON f.memberIdx = m.memberIdx
        WHERE f.notify = 1
        AND STR_TO_DATE(SUBSTRING_INDEX(p.aplyYmd, '~', -1), '%Y%m%d')
        = DATE_ADD(CURDATE(), INTERVAL 3 DAY)
    </select>

</mapper>