<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simpol.polisight.mapper.PolicyMapper">

    <resultMap id="PolicyResultMap" type="com.simpol.polisight.dto.PolicyDto">
        <id property="plcyNo" column="plcyNo"/>
        <result property="plcyNm" column="plcyNm"/>
        <result property="plcyExplnCn" column="plcyExplnCn"/>
        <result property="lclsfNm" column="lclsfNm"/>
        <result property="bizPrdBgngYmd" column="bizPrdBgngYmd"/>
        <result property="bizPrdEndYmd" column="bizPrdEndYmd"/>
        <result property="plcyKywdNm" column="plcyKywdNm"/>

        <result property="aplyYmd" column="aplyYmd"/>
        <result property="plcySprtCn" column="plcySprtCn"/>
        <result property="sprtTrgtMinAge" column="sprtTrgtMinAge"/>
        <result property="sprtTrgtMaxAge" column="sprtTrgtMaxAge"/>
        <result property="earnEtcCn" column="earnEtcCn"/>
        <result property="sbmsnDcmntCn" column="sbmsnDcmntCn"/>
        <result property="etcMttrCn" column="etcMttrCn"/>
        <result property="aplyUrlAddr" column="aplyUrlAddr"/>
        <result property="refUrlAddr1" column="refUrlAddr1"/>
        <result property="refUrlAddr2" column="refUrlAddr2"/>
        <result property="mclsfNm" column="mclsfNm"/>
        <result property="earnMinAmt" column="earnMinAmt"/>
        <result property="earnMaxAmt" column="earnMaxAmt"/>
        <result property="inqCnt" column="inqCnt"/>

        <result property="zipCd" column="zipCd"
                typeHandler="com.simpol.polisight.handler.StringListTypeHandler"
                javaType="java.util.List"/>
        <result property="aplyPrdSeCd" column="aplyPrdSeCd"
                typeHandler="com.simpol.polisight.handler.CodeEnumTypeHandler"
                javaType="com.simpol.polisight.type.AplyPrdType"/>
        <result property="bizPrdSeCd" column="bizPrdSeCd"
                typeHandler="com.simpol.polisight.handler.CodeEnumTypeHandler"
                javaType="com.simpol.polisight.type.BizPrdType"/>
        <result property="mrgSttsCd" column="mrgSttsCd"
                typeHandler="com.simpol.polisight.handler.CodeEnumTypeHandler"
                javaType="com.simpol.polisight.type.MrgSttsType"/>
        <result property="earnCndSeCd" column="earnCndSeCd"
                typeHandler="com.simpol.polisight.handler.CodeEnumTypeHandler"
                javaType="com.simpol.polisight.type.EarnCndType"/>
        <result property="plcyMajorCd" column="plcyMajorCd"
                typeHandler="com.simpol.polisight.handler.JsonListTypeHandler"
                javaType="com.simpol.polisight.type.MajorType"/>
        <result property="jobCd" column="jobCd"
                typeHandler="com.simpol.polisight.handler.JsonListTypeHandler"
                javaType="com.simpol.polisight.type.JobType"/>
        <result property="schoolCd" column="schoolCd"
                typeHandler="com.simpol.polisight.handler.JsonListTypeHandler"
                javaType="com.simpol.polisight.type.SchoolType"/>
        <result property="sbizCd" column="sbizCd"
                typeHandler="com.simpol.polisight.handler.JsonListTypeHandler"
                javaType="com.simpol.polisight.type.SbizType"/>
    </resultMap>

    <select id="selectPoliciesByCondition"
            parameterType="com.simpol.polisight.dto.PolicySearchCondition"
            resultMap="PolicyResultMap">
        SELECT
        p.plcyNo, p.plcyNm, p.plcyExplnCn, p.lclsfNm, p.mclsfNm, p.bizPrdBgngYmd, p.bizPrdEndYmd, p.plcyKywdNm, p.aplyPrdSeCd, p.aplyYmd,
        p.bizPrdSeCd, p.mrgSttsCd, p.earnCndSeCd, p.plcyMajorCd, p.jobCd, p.schoolCd, p.sbizCd,
        p.plcySprtCn, p.sprtTrgtMinAge, p.sprtTrgtMaxAge, p.earnEtcCn, p.sbmsnDcmntCn, p.etcMttrCn,
        p.aplyUrlAddr, p.refUrlAddr1, p.refUrlAddr2,
        p.earnMinAmt, p.earnMaxAmt, p.inqCnt, p.zipCd FROM policy p

        LEFT JOIN favorite f
        ON p.plcyNo = f.plcyNo
        AND f.memberIdx = #{memberIdx}

        <where>
            <if test="hideExpired == true">
                AND p.aplyPrdSeCd != '0057003'
                AND (
                p.aplyPrdSeCd != '0057001'
                OR STR_TO_DATE(SUBSTRING_INDEX(p.aplyYmd, '~', -1), '%Y%m%d') >= CURDATE()
                )
            </if>

            <if test="keyword != null and keyword != ''">
                AND (
                p.plcyNm LIKE CONCAT('%', #{keyword}, '%')
                OR p.plcyExplnCn LIKE CONCAT('%', #{keyword}, '%')
                OR p.plcyKywdNm LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>

            <if test="gender != null and (gender == 'male')">
                AND (
                p.sbizCd IS NULL
                OR JSON_SEARCH(p.sbizCd, 'one', '0014002') IS NULL
                )
            </if>

            <if test="regionSi != null and regionSi != ''">
                AND (
                EXISTS (
                SELECT 1
                FROM region r
                WHERE r.province = #{regionSi}
                <if test="regionGu != null and regionGu != ''">
                    AND r.city = #{regionGu}
                </if>
                AND JSON_CONTAINS(p.zipCd, CAST(CONCAT('"', r.zipCd, '"') AS JSON))
                )
                OR p.zipCd IS NULL
                OR JSON_LENGTH(p.zipCd) = 0
                )
            </if>

            <if test="age != null">
                AND (p.sprtTrgtMinAge IS NULL OR p.sprtTrgtMinAge &lt;= #{age})
                AND (p.sprtTrgtMaxAge IS NULL OR p.sprtTrgtMaxAge &gt;= #{age})
            </if>

            <if test="educationLevel != null and educationLevel.size > 0">
                AND (
                p.schoolCd IS NULL
                OR JSON_SEARCH(p.schoolCd, 'one', '0049009') IS NOT NULL
                OR JSON_SEARCH(p.schoolCd, 'one', '0049010') IS NOT NULL
                OR
                <foreach collection="educationLevel" item="item" open="(" close=")" separator=" OR ">
                    JSON_SEARCH(p.schoolCd, 'one', #{item}) IS NOT NULL
                </foreach>
                )
            </if>

            <if test="employmentStatus != null and employmentStatus.size > 0">
                AND (
                p.jobCd IS NULL
                OR JSON_SEARCH(p.jobCd, 'one', '0013009') IS NOT NULL
                OR JSON_SEARCH(p.jobCd, 'one', '0013010') IS NOT NULL
                OR
                <foreach collection="employmentStatus" item="item" open="(" close=")" separator=" OR ">
                    JSON_SEARCH(p.jobCd, 'one', #{item}) IS NOT NULL
                </foreach>
                )
            </if>

            <if test="marry != null and marry != ''">
                AND (
                p.mrgSttsCd LIKE CONCAT('%', #{marry}, '%')
                OR p.mrgSttsCd LIKE '%0055003%'
                OR p.mrgSttsCd IS NULL
                OR p.mrgSttsCd = ''
                )
            </if>
        </where>

        ORDER BY

        <if test="sortOrder == 'favorite' or sortOrder == null">
            (CASE WHEN f.plcyNo IS NOT NULL THEN 1 ELSE 0 END) DESC,
        </if>

        CASE
        -- (1순위) 진행중인 기간제 (가장 급함)
        WHEN p.aplyPrdSeCd = '0057001' AND STR_TO_DATE(SUBSTRING_INDEX(p.aplyYmd, '~', -1), '%Y%m%d') >= CURDATE() THEN 1
        -- (2순위) 상시 운영
        WHEN p.aplyPrdSeCd = '0057002' THEN 2
        -- (3순위) 마감됨 / 기간 지남 (맨 아래)
        ELSE 3
        END ASC,

        STR_TO_DATE(SUBSTRING_INDEX(p.aplyYmd, '~', -1), '%Y%m%d') ASC
    </select>

    <select id="selectPolicyById" resultMap="PolicyResultMap">
        SELECT * FROM policy WHERE plcyNo = #{id}
    </select>

    <select id="selectRegionMapping" resultType="map">
        SELECT
        zipCd,
        TRIM(CONCAT(IFNULL(province, ''), ' ', IFNULL(city, ''), ' ', IFNULL(district, ''))) AS regionName
        FROM region
        WHERE province IS NOT NULL OR city IS NOT NULL
    </select>

    <select id="selectPolicyByName" resultMap="PolicyResultMap">
        SELECT *
        FROM policy
        WHERE REPLACE(plcyNm, ' ', '') LIKE CONCAT('%', REPLACE(#{plcyNm}, ' ', ''), '%')
        ORDER BY LENGTH(plcyNm) ASC
        LIMIT 1
    </select>

</mapper>